doctype html
html
  head(profile="http://www.w3.org/2005/10/profile")
    link(rel="icon", type='image/ico', href="/favicon.ico")
    title= title
    style(type="text/css")
        include ../public/stylesheets/style.css
    style(type="text/css")
        include ../public/stylesheets/txt.css
    script(type="text/javascript")
        include ../public/javascripts/contacts.js
    script(src="https://kit.fontawesome.com/4277cd205a.js" crossorigin="anonymous")

  body

    block content
