doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/txt.css')
    script(src="https://kit.fontawesome.com/4277cd205a.js" crossorigin="anonymous")
  body
    block content
